<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/private.css">   
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">                                           
</head>
<body>

    <%- include('./partials/header') %>
    
    <div class="background">
        <h1>Perfil</h1>

        <div class="profile">
            
                <div class="perfil-card">
                    <img class="avatar" src="/uploads/<%= userLogin.foto %>" alt="avatar-padrao">
                </div>
             
                <div class="perfil-card-datas">
                    <h1><%=userLogin.nome%></h1>
                    <p><%=userLogin.descricao%></p>
                    <li>Email: <%=userLogin.email%></li>
                </div>
                <div class="perfil-card-resume">
                    <h3>Lista de Agências</h3>
                </div>
                     
        </div>
    </div>
    
    
    
</body>
</html>