<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/editPerfil.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Narnoor&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

        <div class="background">

            <div class="edit-profile">
                <form action="/upload" method="POST" id="edit-profile-form" enctype="multipart/form-data">
                    <div class="card-photo-contact">
                        <div id="photo">
                            
                            <h2>Escolha uma foto</h2>
                            <% if (userLogin.foto) { %>
                            <img class="avatar" src="/uploads/<%= userLogin.foto %>" alt="avatar">
                           
                            
                            <% } else { %>
                            <img class="avatar" src="/public/uploads/avatarPadrao" alt="avatar">
                            <% } %>
                            <input type="file" name="avatar">
                        </div>
                        <div id="contact-text">
                            <h2>Contato</h2>
                        </div>
                        <div id="contact">
                            <label>Idade: <input type="text" placeholder="<%= userLogin.idade %>" name="age"></label>
                            <label>Estado: <input type="text" placeholder="<%= userLogin.estado %>"
                                    name="state"></label>
                            <label>Cidade: <input type="text" placeholder="<%= userLogin.cidade %>" name="city"></label>
                            <label>Telefone(Whatsapp):<input type="text" placeholder="<%= userLogin.telefone %>"
                                    name="phone"></label>
                        </div>
                    </div>
                    <div class="card-about-me">
                        <div id="about-me">
                            <label for="about-me">
                                <h2>Sobre mim</h2>
                                <b>
                                    <p>Fale um pouco sobre você, suas experiências e objetivos de carreira.</p>
                                </b>
                            </label>
                            <textarea id="about-me-text" type="text"
                                name="aboutMe"><%= userLogin.descricao %></textarea>
                        </div>
                        <button type="submit">Salvar</button>
                    </div>
                </form>
            </div>
            <div class="edit-experience">
                <form action="/update" method="POST" id="edit-experience-form">
                    <div id="experiences">
                        <h2>Experiências profissionais</h2>
                        <% if (jobs.length> 0) { %>
                            <% jobs.map( job=> { %>
                                <div id="experience1">
                                    <label>Empresa</label>
                                    <input type="text" placeholder="<%=job.empresa%>" name="companie">
                                    <label>Cargo</label>
                                    <input type="text" placeholder="<%=job.cargo%>" name="ocupation">
                                    <h4>Descreva as atividades</h4>
                                    <textarea id="about-me-experiences" type="text"
                                        name="job"><%=job.atividades%></textarea>
                                    <button id="save-experience" type="submit">Salvar</button>
                                    <button id="discard-experience1">Descartar</button>
                                    <button id="add-experience2">Adicionar experiência</button>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <div id="experience1">
                                            <label>Empresa</label>
                                            <input type="text" name="companie">
                                            <label>Cargo</label>
                                            <input type="text" name="ocupation">
                                            <h4>Descreva as atividades</h4>
                                            <textarea id="about-me-experiences" type="text" name="job"></textarea>
                                            <button id="save-experience" type="submit">Salvar</button>
                                            <button id="discard-experience1">Descartar</button>
                                            <button id="add-experience2">Adicionar experiência</button>
                                        </div>
                                        <% } %>
                </form>
                <form action="/update2" method="POST" id="edit-experience-form">
                    <div id="experience2">
                        <input type="text" placeholder="Nome da Empresa" name="companie2">
                        <input type="text" placeholder="Cargo" name="ocupation2">
                        <h4>Descreva as atividades</h4>
                        <textarea id="about-me-experiences" type="text" name="job2"></textarea>
                        <button id="save-experience" type="submit">Salvar</button>
                        <button id="discard-experience2">Descartar</button>
                        <button id="add-experience3">Adicionar experiência</button>
                    </div>
                </form>
                <!-- <form action="/update3" method="POST" id="edit-experience-form"> -->
                <!-- <div id="experience3">
                        <input type="text" placeholder="Nome da Empresa" name="">
                        <input type="text" placeholder="Cargo" name="">
                        <h4>Descreva as atividades</h4>
                        <textarea id="about-me-experiences" type="text" name=""></textarea>
                        <button id="save-experience3">Salvar</button>
                        <button id="discard-experience3">Descartar</button>
                    </div> -->
                </form>

            </div>



        </div>

        </div>
        <script src="../javascripts/editPerfil.js"></script>
</body>

</html>