<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/editPerfil.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Narnoor&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet" />
</head>

<body>
    <%- include('./partials/header') %>

        <div class="background">
            <div class="edit-profile">
                <form action="/upload" method="POST" id="edit-profile-form" enctype="multipart/form-data">
                    <div id="photo">
                        <h2>Escolha uma foto</h2>
                        <% if (userPhoto) { %>
                            <img class="avatar" src="/uploads/<%= userLogin.foto %>" alt="avatar" />
                            <% } else { %>
                                <img class="avatar" src="/uploads/avatar-padrao.jpg" alt="avatar" />
                                <% } %>
                                    <input type="file" name="avatar" />
                    </div>
                    <div id="contact">
                        <p>Contato</p>
                        <label>Idade:
                            <input type="text" placeholder="<%= userLogin.idade %>" name="age" /></label>
                        <label>Estado:
                            <input type="text" placeholder="<%= userLogin.estado %>" name="state" /></label>
                        <label>Cidade:
                            <input type="text" placeholder="<%= userLogin.cidade %>" name="city" /></label>
                        <label>Telefone(Whatsapp):<input type="text" placeholder="<%= userLogin.telefone %>"
                                name="phone" /></label>
                    </div>
                    <div id="about-me">
                        <h2>Sobre mim</h2>
                        <p>Fale um pouco sobre você e seus objetivos de carreira.</p>
                        <textarea id="about-me-text" type="text" name="aboutMe"><%= userLogin.descricao %></textarea>
                    </div>
                    <button type="submit">Salvar</button>
                </form>
            </div>
            <div class="edit-experience">
                <form action="/update" method="POST" id="edit-experience-form">
                    <div id="experiences">
                        <div id="header-experience">
                            <p>Experiências</p>
                            <button title="Adicionar experiência" id="add-experience1">
                                <i class="ph ph-plus-circle"></i>
                            </button>
                        </div>
                        <div id="experience1">
                            <div id="experience1-datas">
                                <label for="companie">Empresa</label>
                                <input type="text" placeholder="" name="companie" />
                                <label for="ocupation">Cargo</label>
                                <input type="text" placeholder="" name="ocupation" />
                                <h4>Descreva as atividades</h4>
                                <textarea id="about-experience1" type="text" name="job"></textarea>
                            </div>
                            <div id="buttons-save-discard">
                                <button id="save-experience1" type="submit" title="Salvar">
                                    <i class="ph ph-check-circle"></i>
                                </button>
                                <button id="discard-experience1" type="submit" title="Descartar">
                                    <i class="ph ph-x-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div id="experience2">
                            <div id="experience-datas">
                                <label for="companie">Empresa</label>
                                <input type="text" placeholder="" name="companie" />
                                <label for="ocupation">Cargo</label>
                                <input type="text" placeholder="" name="ocupation" />
                                <h4>Descreva as atividades</h4>
                                <textarea id="about-experience2" type="text" name="job"></textarea>
                            </div>
                            <div id="buttons-save-discard">
                                <button id="save-experience2" type="submit" title="Salvar">
                                    <i class="ph ph-check-circle"></i>
                                </button>
                                <button id="discard-experience2" type="submit" title="Descartar">
                                    <i class="ph ph-x-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div id="experience3">
                            <div id="experience-datas">
                                <label for="companie">Empresa</label>
                                <input type="text" placeholder="" name="companie" />
                                <label for="ocupation">Cargo</label>
                                <input type="text" placeholder="" name="ocupation" />
                                <h4>Descreva as atividades</h4>
                                <textarea id="about-experience3" type="text" name="job"></textarea>
                            </div>
                            <div id="buttons-save-discard">
                                <button id="save-experience3" type="submit" title="Salvar">
                                    <i class="ph ph-check-circle"></i>
                                </button>
                                <button id="discard-experience3" type="submit" title="Descartar">
                                    <i class="ph ph-x-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="../javascripts/editPerfil.js"></script>
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
</body>

</html>